// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$pink: #FFE3E3;
$pink-blue: #E4D8DC;
$blue-pink: #C9CCD5;
$bluepink: #93B5C6;

$coolgrey900: #1F2933;
$coolgrey800: #323F4B;
$coolgrey700: #3E4C59;
$coolgrey600: #52606D;
$coolgrey500: #616E7C;
$coolgrey400: #7B8794;
$neutralgrey200: #E5E7EA;
$neutralgrey300: #CED2D6;
$neutralgrey400: #9EA5AD;
$primaryteal: #57C5B6;
$secondaryteal: #159895;
