<div class="row" data-controller="chat-details">
  <div class="col-xl-3"> <%= render "shared/profile_vertical" %> </div>

  <div class="col-xl-3">
    <% @last_messages.each do |chatroom,message|  %>
      <% if chatroom.last_messages(current_user).any?  %>
        <div class="container py-1">
        <%= render partial: "messagePreview", locals: { message: message, chatroom: chatroom } %>
          </div>
      <% end %>
    <% end  %>
  </div>

  <div class="col-xl-6" data-chat-details-target="container">MESSAGE DETAILS</div>
</div>
