<%# <div class="Group2" style="width: 391px; height: 107px; position: relative">
  <div class="DrakeWetwipe1" style="width: 290px; height: 27px; left: 101px; top: 23px; position: absolute; color: black; font-size: 22px; font-family: Inter; font-weight: 600; word-wrap: break-word">Drake @wetwipe_1</div>
  <div class="Group1" style="width: 359px; height: 101px; left: 0px; top: 6px; position: absolute">
    <div class="Avatar" style="width: 101px; height: 101px; left: 0px; top: 0px; position: absolute">
      <div class="Ellipse2" style="width: 101px; height: 101px; left: 0px; top: 0px; position: absolute; background: #D9D9D9; border-radius: 9999px"></div>
      <div class="Vector" style="width: 59.87px; height: 59.87px; left: 21.07px; top: 16.73px; position: absolute; background: black"></div>
    </div>
    <div class="09231623" style="width: 258px; height: 30px; left: 101px; top: 47px; position: absolute; color: #6C6C6C; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">04/09/23-16:23</div>
  </div>
  <div class="Number" style="width: 53px; height: 53px; left: 306px; top: 0px; position: absolute">
    <div class="Ellipse4" style="width: 53px; height: 53px; left: 0px; top: 0px; position: absolute; background: #93B5C6; border-radius: 9999px"></div>
    <div style="left: 18px; top: 6px; position: absolute; color: white; font-size: 35px; font-family: Inter; font-weight: 700; word-wrap: break-word">1</div>
  </div>
</div> %>
