<nav class="navbar navbar-lewagon">
  <div class="container-fluid">
    <div class="dropdown">
      <button class="navbar-dropdown-btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">Menu</button>
      <ul class="dropdown-menu navbar-dropdown-menu">
        <li><button class="dropdown-item" type="button">Feed</button></li>
        <li><button class="dropdown-item" type="button">My profile</button></li>
        <li><button class="dropdown-item" type="button">Messages</button></li>
      </ul>
    </div>
    <h1>Moosician</h1>
    <%= form_with url: posts_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Search"
        %>
      <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
    <% end %>
  </div>
</nav>
