<nav class="navbar navbar-lewagon">
  <div class="container-fluid">
    <div class="dropdown">
      <button class="navbar-dropdown-btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">Menu</button>
      <ul class="dropdown-menu navbar-dropdown-menu">
        <li><button class="dropdown-item" type="button">Feed</button></li>
        <li><button class="dropdown-item" type="button">My profile</button></li>
        <li><button class="dropdown-item" type="button">Messages</button></li>
      </ul>
    </div>
    <h1>Moosician</h1>
    <form class="d-flex" role="search">
      <input class="form-control navbar-search" type="search" placeholder="Search..." aria-label="Search">
      <button class="btn navbar-search-btn" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>
  </div>
</nav>
