<%# some sort of an iteration %>
<%# you take an array of Post instances (@posts) %>
<%# and you create a _post.html.erb for each of them %>
<div data-search-global-target="list">
  <% unless params[:query].blank?%>
    <div class="d-flex justify-content-end pt-2">
      <p class="h3 name-username">
        <%=pluralize posts.count , "result"  %> for <code> <%=params[:query] %></code>
      </p>
    </div>
   <% end %>


  <div class="posts">
    <%posts.each do |post| %>
      <%= render "post" ,post: post%>
      <% end  %>
  </div>
</div>
