.moosician-btn {
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 8px;
  background-color: $secondaryteal;
  border: 0;
  color:$neutralgrey200;
  &:hover {
    background-color: $primaryteal;
}
}
