.chatroom {
  background: $coolgrey800;
  height: calc(600px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  border-radius: 10px;

  h1 {
    border-bottom: 1px solid $gray-200;
    margin-bottom: 0;
    padding: 1rem;
  }

  .messages {
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
    padding: 1rem;
  }

  #new_message {
    border-top: 1px solid $gray-200;
    padding: 1rem;

    .form-group {
      margin-bottom: 0;
    }
  }
}

.chatroom-text-input {
  background-color: $coolgrey800;
  border-radius: 10px;
  margin-top: 15px;
  border: none;
  &:focus {
    box-shadow: none;
    background-color: $coolgrey700;
  }
}

.chatroom-form-btn {
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 8px;
  background-color: $coolgrey800;
  border: 0;
  color: $neutralgrey200;
}
