
html,body{
  height: 100%;
}

body{
  display: flex;
  flex-direction: column;
}

.content{
  flex:1 0 auto;
}

.footer{
  flex-shrink: 0;
  width: 100%;
  padding: 20px;
  text-align: center;
  background-color: #8ecae6;
}
