.date {
  color: $neutralgrey400;
  font-size: 13px
}


.message-card {
  width: 100%;
  background-color: $coolgrey800;
  border-radius: 20px;
}

.message-card img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
  object-position: center;
}

.name {
  font-size: 14px;
  color: $neutralgrey400;
  }
