.date {
  color: #999;
  font-size: 13px
}


.message-card {
  width: 100%;
  background-color: $pink-blue;
  border-radius: 20px;
}

.message-card img {
  border-radius: 50%;
  width: 3vw;
  height: 3vw;
}
