.navbar-lewagon {
  justify-content: space-between;
  background: $coolgrey800;
  height: 80px;
}

.navbar-dropdown-btn {
  margin-left: 20px;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 8px;
  background-color: $secondaryteal;
  border: 0;
  color: $neutralgrey200;
  &:hover {
    background-color: $primaryteal;
}
}

.navbar-search {
  background-color: $coolgrey700;
  color: $neutralgrey200;
  border-radius: 8px 0 0 8px;
  outline: none;
  border: 0;
  &:focus {
    box-shadow: none;
    background-color: $coolgrey600;
  }
}

.navbar-search-btn {
  border-radius: 0 8px 8px 0;
  background-color: $secondaryteal;
  margin-right: 20px;
  &:hover {
    background-color: $primaryteal;
  }
}
.navbar-dropdown-menu {
  background-color: $coolgrey700;
  border: none;
  margin: 0;
  padding: 0;
}

.dropdown-item {
  &:hover {
    background-color: $coolgrey600;
  }
}
