.index-card {
  width: 100%;
  background-color: $coolgrey800;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.bottom-border-radius {
  border-radius: 20px 20px 0 0;
}

.remove-btn-style {
  border: none;
  background-color: $coolgrey800;
}

.icon {
  color: $secondaryteal;
  &:hover {
    color: $primaryteal;
    transition: 0.3s ease;
  }
}

.name-username {
  margin: 0;
}

.info-actions-bar {
  border-top: 1px solid $neutralgrey300;
  padding-top: 10px;
  h3 {
    color: $secondaryteal;
  }
}

.new-post-textfield {
  background-color: $coolgrey800;
  border-radius: 20px;
  color: $neutralgrey400;
  &:focus {
    box-shadow: none;
    color: $neutralgrey200;
    background-color: $coolgrey700;
  }
}

.dropdown-menu.show {
  display: inline-flex;
  padding: 10px;
  background-color: #159895;
}

.dropdown {
  // border-color: #93B5C6;
  // border-style: dotted;
  background-color: $coolgrey700;
  border-radius: 20px;
  &:hover {
    color: white;
    transition: 0.3s ease;
  }
}

.text-color {
  color: $secondaryteal;
}

.secondary-text {
  color: $neutralgrey400;
}

iframe{
  width: 100%;
  height: 150px;
  border-radius: 15px;
  box-shadow: 5px 5px 5px $coolgrey700;
}

.video-container{
  width: 100%;
}
